
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@600&display=swap');

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}


body {
    background: #214252;
    color: #575F7D;
    font-family: 'Lora', serif;
    font-size: 17px;
    font-weight: lighter;
}

a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #6B72E1;
    font-weight: 600;
    font-size: 16px;
}

.card h2 {
    color: black;
    text-shadow: 0.5px 0.5px red;
    font-size: 50px;
    font-weight: lighter;
    font-weight: 500;
    font-family: 'Grenze Gotisch', cursive;
}

h1, h3 {
    font-family: 'Roboto', sans-serif;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.pic {
  border-radius: 50%;
}

img {
    width: 150px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}

.card {
    background-color: white;
    padding: 40px;
    box-shadow: 2px 2px 1px black;
    border-radius: 10px;
    margin: 20px 0px;
    text-align: center;
    margin-top: 20px;
    border: 2px solid black;
}

#button {
  background-color: #214252;
  color: white;
  padding: 10px;
  border-radius: 6px;
}

#button:hover {
  background-color: black;
}
.list-inline {
  padding-left: 0px;
}

.list-inline li {
  display: inline-block;
}

.list-inline i {
    font-size: 50px;
    color: rgb(230, 230, 230);
}

.list-inline i:hover {
    font-size: 50px;
    color: black;
}

li {
  margin: 5px;
}
.container {
    width: 700px;
    margin: 40px auto;
}

ul {
    display: inline;
    list-style-type: none;
}

div {
    display: block;
}
